# Java & Maven
target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Maven Wrapper
.mvn/
mvnw
mvnw.cmd

# IDEs
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Logs e Temporários
*.log
logs/
temp/
tmp/

# Configurações Locais e Segurança
application-local.properties
application-local.yml
.env

# Sistema (Android/Termux)
.DS_Store
.thumbnails/
.bash_history

