spring:
  application:
    name: employer-service
  
  # Desabilita a busca obrigatória pelo Config Server
  cloud:
    config:
      enabled: false

  datasource:
    # Verifique se o nome do banco é employer_db ou user_db
    url: jdbc:postgresql://localhost:5432/employer_db
    username: u0_a348
    password: 
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8082
